*{
	
	margin: 0;
	padding: 0;
	
}

.container{

	background-color: #d2d485;
	font-family: arial,verdana, sans-serif;
	margin: 100px auto;
	border: 5px solid black;
	width: 900px;
	height: 1000px auto;
}

header{

	font-family: arial,verdana, sans-serif;
	display: flex;
	align-items: center;
	justify-content: right;
	text-align: center;
	font-size: 12px;
	font-weight: 0px;
	background-color: #3ca0ab;
}

nav{

	font-family: arial,verdana, sans-serif;
	font-size: 15px;
	height: 60px;
	margin: 12px;
	display: flex;
	align-items: left;
	justify-content: left;
	background-color: #d2d485;

}

.body{

	font-family: arial,verdana, sans-serif;
	display: flex;
	height: auto;
	width: auto
	background-color: #f7f2f2;
}

.mainContent{
	
	font-family: arial,verdana, sans-serif;
	height: 300px;
	width: 54%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e6caca;
	line-height: 19px;

}

.contentBerita{

	font-family: arial,verdana, sans-serif;
	height: 300px;
	width: 111%;
	display: flex;
	align-items: center;
	background-color: #bf9b9b;
	justify-content: center;	
}

footer{

	font-family: arial,verdana, sans-serif;
	text-align: center;
	background-color: #4cc791;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
}